
<body>

<H1>Stupid Coaching</H1>

<div class="input">
<p><%= params[:answear]%></p>
<p>-- You</p>
</div>

<div class="answear">
<h3><%= @answear %></h3>
<p>-- Your coach</p>
</div>

<%= link_to 'Ask a new question', '/ask' %>
</body>
