
<H1>Stupid Coaching</H1>
<h3>Ask your coach anything:</h3>

<form action="/answear">
  <input type="text"
    name="answear"
    value="<%= params[:answear] %>"
    placeholder="Who are you looking for?">
  <input class = "btn" type="submit" value="Ask!">
</form>
